@model MVC.Models.User.UserEditForm

@{
	ViewData["Title"] = $"👤 {Model.Pseudo}";
}

<h1>Editer votre profil</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
			<input type="hidden" asp-for="UtilisateurId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Pseudo" class="control-label"></label>
                <input asp-for="Pseudo" class="form-control" />
                <span asp-validation-for="Pseudo" class="text-danger"></span>
            </div>
			<br />
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
	<a asp-controller="User" asp-action="Details" asp-route-id="@Model.UtilisateurId" class="btn btn-primary">
		Retour à votre profil
	</a>

	<a asp-action="Index" class="btn btn-primary text-white">
		Retour à la liste des utilisateurs
	</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}